<html>
  <head>
    {% include ('v2/Modules/head.twig') %}
  </head>
  <body>
    <div id="app">
      {% include ('v2/Modules/nav.twig') %}
      <div class="container mt-4">
                <div class="col-lg-6 mb-2">
                    {% if data.moderationType == 2 %}
                    <strong><h3>{{ (data.user.branding == "aesthetiful") ? "Aesthetiful" : "Finobe" }} Moderation</h3></strong>
                    <strong><p>You have been{{ (data.ban_info.perm == "y") ? " permanently" : "" }} banned from {{ (data.user.branding == "aesthetiful") ? "Aesthetiful" : "Finobe" }}.</p></strong>
                    <p>Reason:</p>
                    <p><i>{{ data.ban_info.reason }}</i></p>
                    {% if data.ban_info.perm == "n" and data.isCurrentlyBanned %}
                    <p>You will be able to reactivate your account on <strong>{{ data.expiration_formatted }}</strong> (approx. {{ data.expiration }} from now).</strong></p>
                    {% elseif data.ban_info.perm == "y" %}
                    <p>You will not be able to reactivate your account.</p>
                    {% else %}
                    <p>You are able to reactivate your account.</p>
                    <form role="form" method="POST" action="/">
                        <input type="hidden" name="_token" value="{{ data.csrf_token }}">
                        <button type="submit" class="btn btn-primary ">reactivate account</button>
                    </form>
                    {% endif %}
                    {% else %}
                        <strong><h3>{{ (data.user.branding == "aesthetiful") ? "Aesthetiful" : "Finobe" }} Moderation</h3></strong>
                    <strong><p>You have been warned.</p></strong>
                    <p>Reason:</p>
                    <p><i>{{ data.ban_info.reason }}</i></p>
                    <p>You are able to reactivate your account.</p>
                    <form role="form" method="POST" action="/">
                        <input type="hidden" name="warning" value="">
                        <input type="hidden" name="_token" value="{{ data.csrf_token }}">
                        <button type="submit" class="btn btn-primary ">reactivate account</button>
                    </form>
                    {% endif %}
                </div>
            </div>
    </div>
    {% include ('v2/Modules/footer.twig') %}
  </body>
</html>