<html>
  <head>
    {% include ('v2/Modules/head.twig') %}
  </head>
  <body>
    <div id="app">
      {% include ('v2/Modules/nav.twig') %}
      <div class="container mt-4">
                <h3 class="text-center">{{ (data.profile.username == data.user.username) ? "Your" : data.profile.username ~ "'s"}} Friends ({{ data.profile.friends|length }})</h3>
                <div class="mt-2" style="display: flex; justify-content: center;">
                    <ul class="pagination shadow-sm">
                        <li class="page-item">
                            <a class="page-link" id="previous-page" href="/user/{{ data.profile.id }}/friends?page={{ data.pagination.pages.info.current_page - 1 }}" rel="previous" aria-label="Previous <<" {{ (data.pagination.pages.info.current_page <= 1) ? "style='pointer-events: none;'" : "" }}>«</a>
                        </li>
                        {% if data.pagination.pages.info.start_page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/user/{{ data.profile.id }}/friends?page=1">1</a>
                            </li>
                            {% if data.pagination.pages.info.start_page > 2 %}
                                <li class="page-item">
                                <a class="page-link" href="/user/{{ data.profile.id }}/friends?page=2">2</a>
                                </li>
                            {% endif %}
                            {% if data.pagination.pages.info.start_page - 1 > 2 %}
                                <li class="page-item"><span class="page-link">...</span></li>
                            {% endif %}
                        {% endif %}
                        {% for page in data.pagination.pages.data %}
                            <li class="page-item">
                                <a class="page-link{{ (page.page == data.pagination.pages.info.current_page) ? " selected" : "" }}" href="/user/{{ data.profile.id }}/friends?page={{ page.page }}">
                                {{ page.page }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if data.pagination.pages.info.end_page < data.pagination.pages.info.number_of_pages %}
                            {% if data.pagination.pages.info.end_page + 1 < data.pagination.pages.info.number_of_pages - 1 %}
                                <li class="page-item"><span class="page-link">...</span></li>
                            {% endif %}
                            {% for page in [data.pagination.pages.info.number_of_pages - 1, data.pagination.pages.info.number_of_pages] %}
                                {% if page > data.pagination.pages.info.end_page %}
                                    <li class="page-item">
                                        <a class="page-link" href="/user/{{ data.profile.id }}/friends?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" id="next-page" href="/user/{{ data.profile.id }}/friends?page={{ data.pagination.pages.info.next_page }}" rel="next" aria-label="Next >>" {{ (data.pagination.pages.info.current_page >= data.pagination.pages.info.number_of_pages) ? "style='pointer-events: none;'" : "" }}>»</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    {% for user in data.profile.friends %}
                    <div class="col-md-3">
                        <div class="col-16 mt-3 ml-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center mt-0">
                                        <div>
                                            <p class="mb-0"><a href="/user/{{ user.userid }}">{{ user.username }}</a></p>
                                        </div>
                                        <div class="ml-1">
                                            <a href="/user/{{ user.userid }}">
                                                {% if user.pfp == "" %}
                                                <img src="/s/img/spinnerv2.gif" style="max-width: 100px;">
                                                {% else %}
                                                <img src="https://cdn.finobe.net/{{ user.pfp }}" style="max-width: 100px;">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if not data.profile.friends|length %}
                    <p>No results</p>
                    {% endif %}
                </div>
                <div class="mt-4" style="display: flex; justify-content: center;">
                    <ul class="pagination shadow-sm">
                        <li class="page-item">
                            <a class="page-link" id="previous-page" href="/user/{{ data.profile.id }}/friends?page={{ data.pagination.pages.info.current_page - 1 }}" rel="previous" aria-label="Previous <<" {{ (data.pagination.pages.info.current_page <= 1) ? "style='pointer-events: none;'" : "" }}>«</a>
                        </li>
                        {% if data.pagination.pages.info.start_page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/user/{{ data.profile.id }}/friends?page=1">1</a>
                            </li>
                            {% if data.pagination.pages.info.start_page > 2 %}
                                <li class="page-item">
                                <a class="page-link" href="/user/{{ data.profile.id }}/friends?page=2">2</a>
                                </li>
                            {% endif %}
                            {% if data.pagination.pages.info.start_page - 1 > 2 %}
                                <li class="page-item"><span class="page-link">...</span></li>
                            {% endif %}
                        {% endif %}
                        {% for page in data.pagination.pages.data %}
                            <li class="page-item">
                                <a class="page-link{{ (page.page == data.pagination.pages.info.current_page) ? " selected" : "" }}" href="/user/{{ data.profile.id }}/friends?page={{ page.page }}">
                                {{ page.page }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if data.pagination.pages.info.end_page < data.pagination.pages.info.number_of_pages %}
                            {% if data.pagination.pages.info.end_page + 1 < data.pagination.pages.info.number_of_pages - 1 %}
                                <li class="page-item"><span class="page-link">...</span></li>
                            {% endif %}
                            {% for page in [data.pagination.pages.info.number_of_pages - 1, data.pagination.pages.info.number_of_pages] %}
                                {% if page > data.pagination.pages.info.end_page %}
                                    <li class="page-item">
                                        <a class="page-link" href="/user/{{ data.profile.id }}/friends?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" id="next-page" href="/user/{{ data.profile.id }}/friends?page={{ data.pagination.pages.info.next_page }}" rel="next" aria-label="Next >>" {{ (data.pagination.pages.info.current_page >= data.pagination.pages.info.number_of_pages) ? "style='pointer-events: none;'" : "" }}>»</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    {% include ('v2/Modules/footer.twig') %}
  </body>
</html>