<html>
  <head>
    {% include ('v2/Modules/head.twig') %}
  </head>
  <body>
    <div id="app">
      {% include ('v2/Modules/nav.twig') %}
      <div class="container mt-4">
                <div class="row">
                    <div class="col-md-4 col-lg-2 mb-4">
                        <a href="/catalog/new" class="btn btn-outline-primary btn-block mt-2 mb-4"><i
                                class="far fa-plus mr-1"></i>
                            new asset
                        </a>
                        <nav class="finobe-basic-nav">
                            <p class="header ">Type</p> <a href="/catalog/hats"
                                class="link{{ (data.section == "hats") ? " active" : "" }}">
                                Hats
                            </a> <a href="/catalog/t-shirts"
                                class="link{{ (data.section == "t-shirts") ? " active" : "" }}">
                                T-Shirts
                            </a> <a href="/catalog/shirts"
                                class="link{{ (data.section == "shirts") ? " active" : "" }}">
                                Shirts
                            </a> <a href="/catalog/pants"
                                class="link{{ (data.section == "pants") ? " active" : "" }}">
                                Pants
                            </a> <a href="/catalog/gears"
                                class="link{{ (data.section == "gears") ? " active" : "" }}">
                                Gears
                            </a> <a href="/catalog/faces"
                                class="link{{ (data.section == "faces") ? " active" : "" }}">
                                Faces
                            </a> <a href="/catalog/heads"
                                class="link{{ (data.section == "heads") ? " active" : "" }}">
                                Heads
                            </a> <a href="/catalog/packages"
                                class="link{{ (data.section == "packages") ? " active" : "" }}">
                                Packages
                            </a> <a href="/catalog/audio"
                                class="link{{ (data.section == "audio") ? " active" : "" }}">
                                Audio
                            </a> <a href="/catalog/models"
                                class="link{{ (data.section == "models") ? " active" : "" }}">
                                Models
                            </a>
                        </nav>
                    </div> <div class="col-md-8 col-lg-10">
            <div class="mb-4">
            <form method="get" action="" class="mt-2 mb-3 col-mb-3">
                    <div class="input-group input-group-lg search-input">
                        <input type="text" name="q" placeholder="Search..." value="{{ (data.search) ? data.search : "" }}" class="form-control form-control-lg border-right-0 border">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-secondary  border-left-0 border"><i class="far fa-search"></i></button>
                        </span>
                    </div>
                </form>
            {% if data.section == "audio" %}
            <div class="d-flex flex-row">
                <p class="mb-2{{ (data.user.theme == 0) ? " text-black" : "" }}">Audio Name</p>
                <p class="mb-2{{ (data.user.theme == 0) ? " text-black" : "" }}" style="margin-left: auto;">Uploader</p>
            </div>
            {% endif %}
            <div class="justify-content-center row catalog-items">
                {% for item in data.items.data %}
                  {% if item.asset_type == 3 %}
                    <div class="col-md-12 mb-2">
                        <a href="/item/{{ item.id }}" class="catalog-card">
                            <div class="card">
                                <div class="row" style="margin-left:5px">
                                    <div class="row py-1" style="margin-left:0px">
                                        <p class="my-0" style="{{ (data.user.theme == 0) ? "color:black;" : "" }}">{{ item.title | raw }}</p>
                                        <p class="text-muted mb-0" style="{{ (data.user.theme == 0) ? "color:black;" : "" }}margin-left:5px;"> / {{ item.duration }}</p>
                                    </div>
                                    <div class="row text-right py-1" style="margin-left:auto;margin-right:20px;">
                                        <p class="mb-0">by</p>
                                        <p class="my-0" style="{{ (data.user.theme == 0) ? "color:black;" : "" }}margin-left:3px">{{ item.author }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                  {% elseif item.asset_type in [2, 8, 11, 12, 18, 19] %}
                    <div class="card p-0 mb-4" style="width: 21%; {% if loop.index is not divisible by(4) %}margin-right: 3.5%;{% endif %}">
                      <a href="/item/{{ item.id }}" style="text-decoration: none; color: inherit;"></a>
                      <div class="card-body">
                          <a href="/item/{{ item.id }}" style="text-decoration: none; color: inherit;">
                            <div class="d-flex justify-content-center align-items-center mb-3">
                              <img src="{{ item.additional.media.thumbnail }}" height="95" width="95">
                            </div>
                            <p class="mb-0">{{ item.title|raw }}</p>
                          </a>
                          <p class="text-muted mb-0"><a href="/item/{{ item.id }}" style="text-decoration: none; color: inherit;">by </a><a href="/user/{{ item.uuid }}">{{ item.author }}</a></p>
                          <div class="col-auto">
                              <a><img src="/s/img/diu_16.png" alt="Diu" title="Diu" class="img-responsive align-middle"> {{ item.additional.price }}</a>
                          </div>
                      </div>
                    </div>
                  {% else %}
                    <div style="width: 21%; {% if loop.index is not divisible by(4) %}margin-right: 3.5%;{% endif %}"></div>
                  {% endif %}
                {% endfor %}
                {% if not data.items.data|length %}
                    <p>No results.</p>
                {% endif %}
            </div>
            </div>
            <center class="loading_comm_pagination" style="display: none;">
                <div>
                    <img src="/s/img/spinnerv2.gif" style="width:16px;height:16px;vertical-align: middle;"> Loading...
                </div>
            </center>
            <div class="mt-2" style="display: flex; justify-content: center;">
                <ul class="pagination shadow-sm">
    <li class="page-item">
      <a class="page-link" id="previous-page" href="/catalog/{{ data.section }}?page={{ data.items.pages.info.current_page - 1 }}{{ (data.search) ? "&q=" ~ data.search : "" }}" rel="previous" aria-label="Previous <<" {{ (data.items.pages.info.current_page <= 1) ? "style='pointer-events: none;'" : "" }}>«</a>
    </li>
    {% if data.items.pages.info.start_page > 1 %}
      <li class="page-item">
        <a class="page-link" href="/catalog/{{ data.section }}?page=1{{ (data.search) ? "&q=" ~ data.search : "" }}">1</a>
      </li>
      {% if data.items.pages.info.start_page > 2 %}
        <li class="page-item">
          <a class="page-link" href="/catalog/{{ data.section }}?page=2{{ (data.search) ? "&q=" ~ data.search : "" }}">2</a>
        </li>
      {% endif %}
      {% if data.items.pages.info.start_page - 1 > 2 %}
        <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}
    {% endif %}
    {% for page in data.items.pages.data %}
      <li class="page-item">
        <a class="page-link{{ (page.page == data.items.pages.info.current_page) ? " selected" : "" }}" href="/catalog/{{ data.section }}?page={{ page.page }}{{ (data.search) ? "&q=" ~ data.search : "" }}">
          {{ page.page }}
        </a>
      </li>
    {% endfor %}
    {% if data.items.pages.info.end_page < data.items.pages.info.number_of_pages %}
      {% if data.items.pages.info.end_page + 1 < data.items.pages.info.number_of_pages - 1 %}
        <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}
      {% for page in [data.items.pages.info.number_of_pages - 1, data.items.pages.info.number_of_pages] %}
        {% if page > data.items.pages.info.end_page %}
          <li class="page-item">
            <a class="page-link" href="/catalog/{{ data.section }}?page={{ page }}{{ (data.search) ? "&q=" ~ data.search : "" }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    <li class="page-item">
      <a class="page-link" id="next-page" href="/catalog/{{ data.section }}?page={{ data.items.pages.info.next_page }}{{ (data.search) ? "&q=" ~ data.search : "" }}" rel="next" aria-label="Next >>" {{ (data.items.pages.info.current_page >= data.items.pages.info.number_of_pages) ? "style='pointer-events: none;'" : "" }}>»</a>
    </li>
  </ul>
            </div>
    </div>
    {% include ('v2/Modules/footer.twig') %}
  </body>
</html>